h1 {
    text-align: center;
}

.form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
}

.form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}